// Here's all of the topography
@import "/assets/fonts/AvenirLTStd-Book/font.css"
// @import "/assets/fonts/Montserrat-Regular/styles.css"
// @import "/assets/fonts/MyriadPro-Regular/styles.css"
// @import "/assets/fonts/BerlingLTStd-Roman/styles.css"
// @import "/assets/fonts/HelveticaLTStd-Roman/styles.css"

// Fonts
h1
  font-family: "Avenir Next"
  font-weight: bold
  font-size: 50px
  color: $dark-blue

h2
  font-family: "Avenir Next"
  font-weight: 600
  font-size: 22px
  color: $cold-blue

h3
  font-family: "Avenir Next"
  font-weight: 600
  font-size: 18
  color: $cold-blue

p.description
  font-family: "Avenir Next"
  font-weight: regular
  font-size: 16px
  color: $light3-blue

.btn-login
  font-family: "Avenir Next"
  font-weight: 600
  font-size: 16px
  color: $dark-blue

.btn-style-1
  font-family: "Avenir Next"
  font-weight: 600
  font-size: 16px
  color: $strong-red

.btn-style-2
  font-family: "Avenir Next"
  font-weight: Regular
  font-size: 16px
  color: #fff

// Footer
.footer-column
  font-family: "Avenir Next"
  font-weight: Regular
  font-size: 10px
  color: $light3-blue