// Here's all of the topography
@import "/assets/fonts/AvenirLTStd-Book/font.css"
// @import "/assets/fonts/Montserrat-Regular/styles.css"
// @import "/assets/fonts/MyriadPro-Regular/styles.css"
// @import "/assets/fonts/BerlingLTStd-Roman/styles.css"
// @import "/assets/fonts/HelveticaLTStd-Roman/styles.css"

// Fonts
h1
  font-family: "Avenir Next"
  font-weight: bold
  font-size: 40px
  letter-spacing: -0.8px
  color: $dark-blue

h1#cost-title, #benefit
  font-size: 30px

h2
  font-family: "Avenir Next"
  font-weight: 600
  font-size: 22px
  color: $cold-blue

h3
  font-family: "Avenir Next"
  font-weight: 600
  font-size: 16px
  color: $cold-blue

p
  font-family: "Avenir Next"
  font-weight: regular
  font-size: 14px
  line-height: 23px
  color: $light3-blue

p#cost-over
  font-size: 10px
  line-height: 18px
  color: $light2-blue

// Buttons
.btn-login
  font-family: "Avenir Next"
  font-weight: 600
  font-size: 14px
  color: $dark-blue
  span
    letter-spacing: -0.2px

.btn-style-1
  font-family: "Avenir Next"
  font-weight: 600
  font-size: 14px
  color: $strong-red
  span
    letter-spacing: -0.2px

.btn-style-2
  font-family: "Avenir Next"
  font-weight: 600
  font-size: 14px
  color: #fff
  span
    letter-spacing: -0.2px

.btn-style-3
  font-family: "Avenir Next"
  font-weight: 600
  font-size: 12px
  span
    color: $strong-red
    letter-spacing: -0.2px

// Footer
.footer-column
  font-family: "Avenir Next"
  font-weight: Regular
  font-size: 10px
  color: $light3-blue

// Mobile
@media (min-width: 320px)
  h1
    font-size: 20px

  h1#cost-title, #benefit
    font-size: 20px

  h2
    font-size: 16px

  h3
    font-size: 14px
    line-height: 22px

  p
    font-size: 13px
@media (min-width: 375px)
  h1
    font-size: 25px

  h1#cost-title, #benefit
    font-size: 23px

  h2
    font-size: 16px

  h3
    font-size: 14px
    line-height: 22px

  p
    font-size: 14px
@media (min-width: 425px)
  h1
    font-size: 30px

  h1#cost-title, #benefit
    font-size: 25px

  h2
    font-size: 18px

  h3
    font-size: 16px
    line-height: 25px

  p
    font-size: 16px

// Tablet
@media (min-width: 768px)
  h1
    font-size: 40px

  h1#cost-title, #benefit
    font-size: 30px

  h2
    font-size: 20px

  h3
    font-size: 18px
    line-height: 30px

  p
    font-size: 16px

// Laptop
@media (min-width: 1024px)
  h1
    font-size: 50px

  h1#cost-title, #benefit
    font-size: 40px

  h2
    font-size: 22px

  h3
    font-size: 18px
    line-height: 30px

  p
    font-size: 16px
@media (min-width: 1440px)
  h1
    font-size: 50px

  h1#cost-title, #benefit
    font-size: 40px

  h2
    font-size: 22px

  h3
    font-size: 18px
    line-height: 30px

  p
    font-size: 16px
