.u-margin-bottom-big {
  margin-bottom: 11rem;

  @include respond(big-desktop) {
    margin-bottom: 8.5rem;
  }
  @include respond(tab-land) {
    margin-bottom: 13rem;
  }
  @include respond(column2) {
    margin-bottom: 5rem;
  }
}
.u-margin-bottom-small {
  margin-bottom: 2rem;

  @include respond(column2) {
    margin-bottom: 0;
  }
}
.u-margin-bottom-large {
  margin-bottom: 6rem;
}

.u-margin-typewriter {
  margin: 5rem 3rem;
}


.u-margin-left-small {
  margin-left: 2rem;
}

.u-margin-left-mid {
  margin-left: 4rem;
}

.u-margin-right-small {
  margin-right: 3rem;
}
.u-flex-no-grow {
  flex-grow: 0;
}

.u-word-space {
  word-spacing: 0;
}

.u-flex {
  display: flex;
}

#u-margin-bottom-mid {
  @media screen and (min-width: 800px){
    margin-bottom: 6rem !important;
  }
  @media screen and (max-width: 340px){
    margin-bottom: 6rem !important;
  }
}

.u-flex-media {
  @include respond(mid-header){
    align-self: center;
    display: flex;
    flex-direction: row !important;
    width: 100% !important;
    margin-left: 15%;
    margin-bottom: 0 !important;
  }
  @media screen and (max-width: 340px){
    flex-direction: column !important;
    margin-left: 25%;
  }
}
