.main {


  .explore {
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;

    &__arrow {
      text-align: center;
      margin-bottom: 3rem;
      font-size: 2rem;
      font-weight: 300;
    }
  }

  .main-group {
    font-family: "Avenir Next", $avenir;
    color: $dark-blue;
    display: flex;
    justify-content: space-between;
    min-height: 80vh;
    width: 100%;

    @media screen and (max-width: 1200px) {
      margin-left: 3rem;
    }


    .heading {
      width: 30vw;
      max-width: 60rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__primary {
        font-size: 3.5rem;
        text-transform: uppercase;
        width: 45vw;
        margin-bottom: 1rem;
      }

      &__secondary {
        font-size: 2.4rem;
        font-weight: 500;
        margin-bottom: 1rem;
      }

      &__tertiary {
        color: $grey-blue;
        font-size: 1.8rem;
        font-weight: 300;
        margin-bottom: 2.5rem;
      }
    }

    .mainImg {
      width: auto;
      height: 60vh;
      align-self: center;

      @include respond(xs-phone) {
        min-width: 300px;
      }
    }

    @include respond(column2) {

      flex-direction: column;
      justify-content: center;
      margin-bottom: 2rem;

      .heading {
        align-self: center;
        text-align: center;
        width: 75vw;

        &__primary {
          font-size: 2.5rem;
          margin: 1rem auto;
        }
        &__secondary {
          font-size: 1.8rem;
          margin-bottom: .5rem;
        }
      }

      .mainImg {
        order: -1;
      }
    }
  }
}

























