.container {
  font-family: "Avenir Next", $avenir;
  margin: 5rem;
  color: $cold-blue;


  .flex {
    display: flex;
    flex: 2;

    @include respond(column2){
      flex-wrap: wrap;
    }
  }

  .header {

    .btn-beside-text {
      display: flex;
      margin-bottom: 4rem;

      @include respond(mid-header){
        flex-wrap: wrap;
      }
    }

    &__primary {
      color: $dark-blue;
      font-size: 4.5rem;

      @include respond(column){
        font-size: 3.7rem;
      }
    }

    &__secondary {
      font-size: 2rem;
      font-weight: 500;
      width: 60vw;
      margin-right: 2rem;

      @media screen and (min-width: 1005px) {
        width: 40vw;
      }
    }

    .button {
      margin: 3rem;

      @media screen and (max-width: 590px) {
        margin-left: 0;
      }
    }


  }
  .graph-text {
    font-size: 1.8rem;
    font-weight: 500;
    color: $cold-blue;
  }

  .highlight {
    color: $strong-red;
    font-weight: 600;
  }

  .employers {
    margin-right: 15rem;

    .graph--1 {
      margin: 3rem auto;
      min-width: 200px;
      max-width: 350px;
    }

    .dropdown-list {
      font-size: 1.8rem;
      font-weight: 600;
      color: $strong-red;
      width: 5.5rem;
      height: 3rem;
      margin: 0 .5rem;

      &:focus{
        outline: none;
        box-shadow: 0 1rem 2rem rgba(black,.1);
      }
    }
  }

  .employees {


    .graph--2 {
      max-width: 400px;
      min-width: 200px;
      height: auto;
      margin: 3rem auto;
    }

    .fine-print {
      font-size: 1rem;
      color: $light3-blue;
      width: 35vw;
      margin-top: 1rem;

      @include respond(mid-header) {
        width: 46vw;
      }
    }
  }
}

