// Mobile
@media (min-width: 320px)
  .benefit-item
    width: 50%
    align-items: center
    img
      width: 130px

  .benefit-title
    flex-direction: column

    h2
      margin-left: 0

  .logo-lists
    flex-direction: column

@media (min-width: 375px)
  .benefit-item
    width: 50%
    img
      width: 140px

  .benefit-title
    flex-direction: column
    h2
      margin-left: 0
  
  .logo-lists
    flex-direction: column

@media (min-width: 425px)
  .benefit-item
    width: 50%
    img
      width: 150px

  .benefit-title
    flex-direction: column
    h2
      margin-left: 0

  .logo-lists
    flex-direction: column

// Tablet
@media (min-width: 768px)
  .benefit-item
    width: 50%
    img
      width: 150px

  .benefit-title
    flex-direction: row

    h2
      margin-left: 20px
  
  .logo-lists
    flex-direction: row

// Laptop
@media (min-width: 1024px)
  .benefit-item
    width: 25%
    img
      width: 150px

  .benefit-title
    flex-direction: row

    h2
      margin-left: 20px

  .logo-lists
    flex-direction: row

@media (min-width: 1440px)
  .benefit-item
    width: 20%
    img
      width: 150px

  .benefit-title
    flex-direction: row

    h2
      margin-left: 20px

  .logo-lists
    flex-direction: row