.benefits-container {
  display: flex;
  max-width: 950px;
  margin: 0 4rem;

  .item {
    width: 28%;

    @media screen and (max-width: 710px) {
      margin-right: 4rem;
    }
  }

  .item-text {
    color: $light3-blue;
    font-size: 1.4rem;
    font-weight: 600;
    text-align: center;
    display: flex;
    max-width: 150px;
  }

  .item-img {
    min-width: 110px;
    max-width: 150px;
    max-height: 150px;
    width: 100%;
  }

  @include respond(tab-port) {
    flex-wrap: wrap;
    margin: 0 3rem;

    .item {
      width: 34%;
    }
    .item-text {
      &:nth-child(2n) {
        margin-left: 3rem;
      }
    }
  }
}

.co-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 5rem;
  max-width: 950px;
  flex-grow: 1;

  .item {
    min-width: 100px;
    margin: 3rem;
    align-content: center;

    &:not(:last-child) {
      margin-right: 3rem;
    }

    &--1{
      width: 15%;
      height: 15%;

    }

    &--2, &--3 {
      width: 10%;
      height: 10%;
    }

    &--3 {
      width: 8%;
      height: 8%;
    }

  }

  @media screen and (max-width: 552px) {
    justify-content: center;
  }
}

.max-height {

  .container{
    @media screen and (min-height: 750px) and (min-width: 898px) {
      //flex: 0;
    }
  }

}
