html, body
  display: flex
  flex-direction: column
  min-height: 100vh
  // background-color: #EDF2F4

a
  text-decoration: none

#wrapper
  max-width: 100%
  overflow-x: hidden

  .container
    margin: 0 3% 0 3%

  .button
    background: none
    border-radius: 3px
    letter-spacing: 1px

// Containers Media Queries
@media screen and (max-width: 800px)
  #wrapper
    margin: 0 auto
    padding: 7%
