html, body
  // background-color: #EDF2F4
  height: 100%
  box-sizing: border-box

#wrapper
  max-width: 100%
  overflow-x: hidden
  box-sizing: inherit

// Containers Media Queries
@media screen and (max-width: 800px)
  #wrapper
    margin: 0 auto
    padding: 7%
