html, body
  display: flex
  flex-direction: column
  min-height: 100vh
  // background-color: #EDF2F4

a
  text-decoration: none

#wrapper
  max-width: 100%
  overflow-x: hidden

  .container
    margin: 0 10% 0 10%

  .button
    border-radius: 5px
    letter-spacing: 1px
    text-align: center
    align-items: center
    padding: 13px 20px

// Containers Media Queries
@media screen and (max-width: 800px)
  #wrapper
    margin: 0 auto
    padding: 7%
