.dropdown-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__img {
      width: auto;
      height: 20rem;
    }

    &__menu {
      max-width: 50rem;
      min-width: 30rem;
      background-image: linear-gradient(to right, $light1-blue, $light2-blue);

      &__heading {
        font-size: 1.8rem;
        color: $dark-blue;
        padding: 2rem 0;
        text-align: center;
      }

      &:hover {
        height: 20rem;
      }
    }
  }
}
