.choice-container {
  display: flex;
  justify-content: space-around;
}

.column__img {
  width: 20rem;
  height: auto;
}

.dropdown-container {
  margin: 2rem auto;

  display: flex;
  justify-content: space-around;
}

.menu-header{
  border-radius: .5rem;
  color: $dark-blue;
  font-size: 20px;
  font-weight: 600;
  padding: 2rem 1rem;
  background: linear-gradient(to bottom, $light1-blue, $light2-blue);
  text-align: center;
  margin: 1rem auto;
}
//
//.menu-item ul{
//  background: $light1-blue;
//  border-radius: 1rem;
//  font-size: 13px;
//  text-align: center;
//  height: 0; padding: 0;
//  line-height: 3rem;
//  overflow: hidden;
//  transition: height 1s ease;
//
//  display: flex;
//  flex-direction: column;
//  justify-content: center;
//}
//.menu-item:hover ul{
//  height: 40rem;
//}
//
//.menu-item ul .menu-text{
//  color: $dark-blue;
//  display: block;
//  margin-left: 2rem;
//}

.ac-sub {
  color: $dark-blue;

  &:first-child {
    //width: 20rem;
    //height: auto;
    margin: 0 auto;
  }
}

.ac-label {
  font-weight: 700;
  font-family: "Avenir Next", Chivo, sans-serif;
  font-size: 1.6rem;
  letter-spacing: 1px;
  color: $dark-blue;
  border-radius: .5rem;
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: .5rem;
  display: block;
  cursor: pointer;
  background: linear-gradient(to bottom right, $light1-blue, $light2-blue);
  transition: background-color .15s ease-in-out;

  &:hover {
    background: linear-gradient(to bottom left, $light1-blue, $light2-blue);
  }
}

.ac-input:checked + label, .ac-label:hover {
  background-color: $cold-blue;
}

.ac-label:after, .ac-input:checked + .ac-label:after {
  content: "+";
  position: absolute;
  border-radius: .2rem;
  right: 0; top: 0;
  width: 4rem;
  line-height: 2.5em;
  height: 100%;
  text-align: center;
  background-color: $dark-sky-blue;
  transition: background-color .15s ease-in-out;
}

.ac-label:hover::after, .ac-input:checked + .ac-label:after {
  background: rgba($dark-sky-blue, .8);
}

.ac-input:checked + .ac-label:after {
  content: "-";
}

.ac-input {
  display: none;
}

.ac-popup--2 {
  opacity: 0;
  height: 0;
  transition: opacity .5s ease-in-out;
  overflow: hidden;
  margin: .5em auto;
  justify-content: flex-start;
  align-items: flex-start;
}
.ac-popup, .ac-sub-text {
  opacity: 0;
  height: 0;
  transition: opacity .5s ease-in-out;
  overflow: hidden;
  margin: .5em auto;
  background: linear-gradient(to bottom, #FCFCFC, $light1-blue);
  box-shadow: 4px 1px 1.3rem rgba($grey-blue, .15);
  border-radius: .5rem;

  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  //align-items: center;
}

.ac-input:checked ~ .ac-popup, .ac-sub .ac-input:checked ~ .ac-sub-text {
  opacity: 1;
  height: auto;
}

// sub-level
.ac-sub .ac-label {
  background: none;
  font-weight: 600;
  padding: .5rem 2em;
  margin-bottom: 0;
}

.ac-sub .ac-label:checked {
  //background: none;
}

.ac-sub .ac-label:after, .ac-sub .ac-input:checked + .ac-label:after {
  left: 0;
  line-height: 3rem;
  background: none;
}

.ac-sub .ac-input:checked + label, .ac-sub .ac-label:hover {
  background: none;
}

.ac-sub-text {
  padding: 0 1em 0 2em;
}














































































