@font-face {
  font-family: "Frankin Gothic";
  src: url("../../assets/fonts/franklin_gothic_heavy.ttf");
}

.choice {
  display: flex;
  display: -webkit-box;
  align-content: center;
  align-items: center;
  width: 100%;
  margin: 2rem auto;

  .employer, .employee {
    width: 50%;
    height: 25rem;
    color: $dark-blue;
    font-weight: 700;
    text-decoration: none;
    border-bottom: .5rem solid transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .employer {
    background-color: $hover-light-blue;
    border-bottom: .5rem solid $dark-sky-blue;
  }

  .employee {
    background-color: $non-hover-light-blue;

    &:hover {
      border-bottom: .5rem solid $dark-sky-blue;
    }
  }

  .img {
    height: 12rem;
    width: auto;
    align-self: center;
  }

  .text {
    @include text;
    font-size: 2rem;
  }
}

.learn-heading {
  @include text;
  font-size: 2.4rem;
  color: $dark-blue;
  margin: 10rem auto;
  position: relative;
  display: flex;
  justify-content: center;

  &::after {
    content:' ';
    position: absolute;
    display: block;
    width: 12rem;
    margin: 6rem auto;
    border: 1px solid $dark-blue;
    border-radius: 2px;
  }
}

.learn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-decoration: none;
    width: 20rem;
    height: 22rem;
    transition: all .3s;

    &:not(:last-child) {
      margin-right: 1.3rem;
    }
    &:first-child, &:hover {
      background-color: $light1-blue;
    }

    &__img{
      height: 12rem;
      width: auto;
      align-self: center;
    }

    &__text {
      @include text;
      align-self: center;
      color: $dark-blue;
      border-bottom: .5rem solid transparent;

      &:hover {
        border-bottom: 2px solid $dark-sky-blue;
      }
    }
  }
}

/////// ENGAGEMENT /////////

.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;

  @include respond(mid-header) {
    flex-direction: column;
  }

  .list-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $light1-blue;
    width: 40%;
    height: 42rem;
    padding: 1.5rem;

    @include respond(mid-header) {
      height: 35rem;
    }

    &--2 {
      @extend .list-box;
      background-color: #fff;
    }

    &__item {
      align-self: center;
      margin-left: 10%;
      padding: 1rem;
      width: 75%;
      position: relative;
      z-index: 1;


      &--2::before {
        content: " ";
        background-color: $light1-blue;
        height: 13rem;
        width: 13rem;
        position: absolute;
        margin-left: -10rem;
        margin-top: -4rem;
        z-index: -1;
      }


      &__primary {
        @include bullet;
        font-size: 2.8rem;
        color: $dark-blue;
        margin-bottom: 1rem;
        font-family: Frankin Gothic, Heavy, 'Chivo', sans-serif;
        text-transform: uppercase;
        font-weight: 300;
      }

      &__secondary {
        color: $grey-blue;
        font-size: 1.8rem;
        font-weight: 400;

        &:not(:last-child){
          margin-bottom: 3rem;
        }
      }
    }
  }
}





























