// Mobile
@media (min-width: 320px)
  img#logo
    width: 140px 
  
  a#contact
    display: none


@media (min-width: 375px)
  img#logo
    width: 140px 

  a#contact
    display: none

@media (min-width: 425px)
  img#logo
    width: 140px 

  a#contact
    display: none

// Tablet
@media (min-width: 768px)
  img#logo
    width: 140px 

  a#contact
    display: inline-block

// Laptop
@media (min-width: 1024px)
  img#logo
    width: 150px 
  
  a#contact
    display: inline-block

@media (min-width: 1440px)
  img#logo
    width: 150px 

  a#contact
    display: inline-block

