<section id="cost-container" class="container">

  <div class="cost-title">
    <h1 id="cost-title">Clear path to a safe future.</h1>
    <div class="seperator grey"></div>
    <div class="subtitle">
      <h3>More money for you means more money for your business and retirement! Get your quote here -- no gimmicks.</h3>
      <a class="button btn-style-2" href="/benefits">
        <span>Learn More</span>
      </a>
    </div>
  </div>

  <div class="content">
    <div class="content-column">
      <div class="content-title">
        <h3>I have <span class="highlight">30</span> employees.</h3>
        <a class="button btn-style-3" href="#">
          <span>Calculate >></span>
        </a>
      </div>
      <img class="annual-cost" src="../assets/img/harbor/infographics_feb26-01.png"/>
      <h3 class="img-title">Employer annual cost for <span class="highlight">30</span> employees</h3>
    </div>
    <div class="content-column">
      <h3>Harbor is <span class="highlight">$660</span> less per year than Ubiquity.</h3>
      <h3>Harbor helps each employee to save <span class="highlight">$64,229.93</span> than Ubiquity.</h3>
      <p id="cost-over">This is an all inclusive fee, covering all 5 of the 401(k) parts, based on $10,000 contributions per year and 7% market return. <br> Prices as of 1/30/17, collected directly from several 403(b)(2) forms</p>
      <img class="cost-over" src="../assets/img/harbor/infographics_feb26-02.png"/>
      <h3 class="img-title">Employee cost over <span class="highlight">30</span> years</h3>
    </div>
  </div>


</section>
