<div class="container">

  <header class="header">
    <h1 class="header__primary">Clear path to a safe future.</h1>
    <div class="btn-beside-text">
      <h2 class="header__secondary">More money for you means more money for your business and retirement! Get your quote here -- no gimmicks.</h2>
      <div class="button">
        <a class="btn btn--2" href="/benefits">Learn More</a>
      </div>
    </div>
  </header>

  <div class="flex">
    <section class="employers">
      <h3 class="graph-text">I have <select class="dropdown-list" ><option class="dropdown-list numbers">30</option></select> employees. <a class="btn btn--1 u-margin-left-small" href="#">Calculate >></a></h3>
      <img srcset="../assets/img/graph_employer_300.png 320w,
           ../assets/img/graph_employer_800.png 450w"
           sizes="(max-width: 320px) 320w,
                  (max-width: 800px) 350w"
              src="../assets/img/graph_employer_800.png"
              alt="graph showing employer annual cost" class="graph--1">
      <h3 class="graph-text u-margin-bottom-mid">Employer annual cost for <span class="highlight">30</span> employees</h3>
    </section>

    <section class="employees">
      <h3 class="graph-text u-margin-bottom-small">Harbor is <span class="highlight">$660</span> less per year than Ubiquity.</h3>
      <h3 class="graph-text u-margin-bottom-big">Harbor helps each employee to save <span class="highlight">$64,229.93</span><br> more than Ubiquity.</h3>
      <img srcset="../assets/img/graph_employee_300.png 320w,
           ../assets/img/graph_employee_800.png 450w"
           sizes="(max-width: 320px) 320w,
                  (max-width: 800px) 400w"
              src="../assets/img/graph_employee_800.png"
           alt="graph showing employer annual cost" class="graph--2">
      <h3 class="graph-text">Employee cost over <span class="highlight">30</span> years</h3>
      <p class="fine-print">This is an all inclusive fee, covering all 5 of the 401(k) parts, based on $10,000 contributions per year and 7% market return. Prices as of 1/30/17.
        Collected directly from several 403(b)(2) forms.</p>
    </section>
  </div>

</div>

