<section id="benefit-container" class="container">

  <div class="benefit-title">
    <h1 id="benefit">The storm's about to clear.</h1>
    <div class="seperator grey"></div>
    <div class="subtitle">
      <h3>Our mission is to seamlessly prep all employees for <br> retirement-- no matter how small the company.</h3>
      <a class="button btn-style-2" href="#">
        <span>Get Started</span>
      </a>
    </div>
  </div>

  <div class="benefit-lists">
    <div class="benefit-item">
      <img src="../assets/img/harbor/icons_feb26-01.png" />
      <p>Seamlessly Mobile</p>
    </div>
    <div class="benefit-item">
      <img src="../assets/img/harbor/icons_feb26-02.png" />
      <p>Reduced employer <br> liability</p>
    </div>
    <div class="benefit-item">
      <img src="../assets/img/harbor/icons_feb26-03.png" />
      <p>Balance student debt <br> with retirement</p>
    </div>
    <div class="benefit-item">
      <img src="../assets/img/harbor/icons_feb26-04.png" />
      <p>Roth + Traditional <br> 401(k) offerings</p>
    </div>
  </div>

  <div class="benefit-logos">
    <div class="benefit-title">
      <h1 id="benefit">Testimonials</h1>
      <h2>Forward thinking companies choose Harbor.</h2>
    </div>
    <div class="logo-lists">
      <div class="logo-item">
        <img src="../assets/img/harbor/logos/eligo energy.png" />
      </div>
      <div class="logo-item">
        <img src="../assets/img/harbor/logos/Multitech-Industries.png" />
      </div>
      <div class="logo-item">
        <img class="vistex" src="../assets/img/harbor/logos/logo-Vistex-V.png" />
      </div>
    </div>
  </div>
</section>