<div class="container">

    <section class="title-container">
        <h1>The storm's about to clear</h1>
        <div class="title-content">
            <h4>Our mission is to seamlessly prep all employees for retirement-- no matter how small the company.</h4>
            <button>
                Get Started
            </button>
        </div>
    </section>

    <section class="flex-container">
        <div class="flex-item">
            <img src="../assets/img/harbor/icons_feb26-01.png"/>
            <p>Seamlessly Mobile</p>
        </div>
        <div class="flex-item">
            <img src="../assets/img/harbor/icons_feb26-02.png"/>
            <p>Reduced employer liability</p>
        </div>
        <div class="flex-item">
            <img src="../assets/img/harbor/icons_feb26-03.png"/>
            <p>Balance student debt with retirement</p>
        </div>
        <div class="flex-item">
            <img src="../assets/img/harbor/icons_feb26-04.png"/>
            <p>Roth + Traditional 401(k) offerings</p>
        </div>
    </section>

    <!-- <section class="logo-container">
        <div class="logo-title">
            <h1>Testimonials</h1>
            <h4>Forward thinking companies choose Harbor.</h4>
        </div>
        <div class="logo-items">
            <div class="logo-item">
                <img src="../assets/img/harbor/logos/eligo energy.png"/>
            </div>
            <div class="logo-item">
                <img src="../assets/img/harbor/logos/Multitech-Industries.png"/>
            </div>
            <div class="logo-item">
                <img src="../assets/img/harbor/logos/logo-Vistex-V.png"/>
            </div>
        </div>
    </section> -->
</div>
