<main class="calculator-container">
    <section class="savings-form savings">
        <h1 class="savings__primary">Harbor Calculator</h1>

        <h3 class="savings__secondary">How long would you like to work?</h3>

        <p>
            <label for="amount">Age range:</label>
            <input type="text" id="amount" readonly style="border:0; color:#41ade1; font-weight:bold;">
        </p>

        <div id="slider-range"></div>


        <h3 class="savings__secondary">How much have you already saved?</h3>
        <ul class="money-list" id="money-saved" onclick="testing(event, this.id)">
            <li><button class="money-list__item" value="0">$0</button></li>
            <li><button class="money-list__item" value="10000">$10K</button></li>
            <li><button class="money-list__item" value="40000">$40K</button></li>
            <li><button class="money-list__item" value="100000">$100K</button></li>
            <li><input type="number" min="0" class="money-list__item money-list__item--amount" placeholder="$ Amount" autocomplete="off" id="money-saved-input" oninput="getAmount(this.value, this.id)"></li>
        </ul>
        <h3 class="savings__secondary">How much do you save every month?</h3>
        <ul class="money-list" id="money-saved-monthly" onclick="testing(event, this.id)">
            <li><button class="money-list__item" value="100">$100</button></li>
            <li><button class="money-list__item" value="250">$250</button></li>
            <li><button class="money-list__item" value="500">$500</button></li>
            <li><button class="money-list__item" value="1000">$1000</button></li>
            <li><input type="number" min="0" class="money-list__item money-list__item--amount" placeholder="$ Amount" id="monthly-savings" oninput="getAmount(this.value, this.id)"></li>
        </ul>
    </section>

    <section class="savings-outcome">
        <h1 class="savings-outcome__header">Savings Outcome</h1>
        <canvas id="myChart" width="400" height="200"></canvas>

        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            const ctx = document.getElementById("myChart").getContext('2d');

            let totalSaved = 0; // v
            let annualIncome;
            let monthlySavings = 0; // c
            let yearsWantToSave = 30;
            let totalMonthsOfSaving = yearsWantToSave * 12; // n
            let aggressive = 1.00716; // r
            let moderate = 1.0065; // r
            let conservative = 1.00549; // r

            let minAge;
            let maxAge;

            for(; minAge <= maxAge; minAge++) {

            }

            $(function() {
                $("#slider-range").slider({
                    range: true,
                    min: 1,
                    max: 100,
                    minValue: undefined,
                    maxValue: undefined,
                    values: [ 25, 65 ],
                    classes: {
                        "ui-slider": "ui-corner-all slider__height",
                        "ui-slider-handle": "ui-corner-all slider__btn",
                        "ui-slider-range": "ui-corner-all slider__fill"
                    },
                    slide: function( event, ui ) {
                        $("#amount").val(ui.values[0] + " - " + ui.values[1]);
                        minAge = ui.values[0];
                        maxAge = ui.values[1];
                        this.minValue = ui.values[0];
                        this.maxValue = ui.values[1];
                        yearsWantToSave = maxAge - minAge;
                        // console.log(yearsWantToSave);
                        updateChart(totalSaved, monthlySavings)
                    }
                });
                $("#amount").val($("#slider-range").slider("values", 0) +
                    " - " + $("#slider-range").slider("values", 1));
            } );

            function calculatePointer(r, total, monthly) {
                for (let i=0; i < totalMonthsOfSaving; i++) {
                    totalSaved = (total * r) + monthly;
                }
                return totalSaved;
            }

            function createChart(conservativePoint, moderatePoint, aggressivePoint) {
                new Chart(ctx, {
                    type: 'line',
                    data: {
                        // TODO labels: [minAge - maxAge]
                        labels: [25, 30, 35, 40, 45, 50, 55 ,60, 65],
                        datasets: [
                            {
                                label: ["Conservative"],
                                // TODO [startAge and initialSavingsInput - endAge]
                                data: [0, 10, 20, 30, 40, 50, 55, 60, 65, conservativePoint],
                                fill: true,
                                backgroundColor: ['#102A5E'],
                                borderColor: ['#102A5E'],
                                borderWidth: 1
                            },
                            {
                                label: ["Moderate"],
                                data: [0, 10, 20, 30, 40, 50, 55, 60, 65,moderatePoint],
                                fill: true,
                                backgroundColor: ['#3F5A9E'],
                                borderColor: ['#3F5A9E'],
                                borderWidth: 1
                            },
                            {
                                label: ["Aggressive"],
                                data: [0, 10, 20, 30, 40, 50, 55, 60, 65, aggressivePoint],
                                fill: true,
                                backgroundColor: ['#41ade1'],
                                borderColor: ['#41ade1'],
                                borderWidth: 1
                            }
                        ]
                    },
                    options: {
                        elements: {
                            line: {
                                tension: 0.6, // bezier curves 0-1
                                spanGaps: true
                            }
                        },
                        scales: {
                            showLines: false,
                                yAxes: [{
                                    stacked: true
                                }]
                            },
                        legend: {
                            display: true, // rectangle labels on top of chart
                        },
                        animation: {
                            easing: 'easeInOutCubic'
                        }
                    }
                });
            }

            createChart(10,11,12);

            function updateChart(total, monthly) {
                createChart(calculatePointer(conservative, total, monthly), calculatePointer(moderate, total, monthly), calculatePointer(aggressive, total, monthly));
            }

            const moneySavedInput = document.getElementById('money-saved-input');
            const moneySaved = document.getElementById('money-saved');

            let buttons = moneySaved.querySelectorAll('button');

            const moneyIncome = document.getElementById('money-income');
            const moneySavedMonthly = document.getElementById('money-saved-monthly');

            function testing(event, id) {
                // Grabs all the elements from inside the ul whom had its onclick triggered
                let nodes = document.getElementById(id).childNodes;
                // Filters through the inner elements and returns only the li elements
                let liArray = Array.from(nodes).filter((node)=>{
                    return node.nodeName === 'LI';
                });

                // Used to prevent the ul itself from having an unwanted class added, only allows button elements
                if (event.target.nodeName === 'BUTTON') {
                    // Loops through all the sibling buttons and removes the .selected-amount class from the non selected buttons
                    liArray.forEach((li)=>{
                        if (li.childNodes[0].nodeName === 'INPUT') {
                            li.childNodes[0].value = '';
                        } else if (li.childNodes[0].value !== event.target.value) {
                            li.childNodes[0].classList.remove('selected-amount');
                        }

                    });

                    if ( id === "money-saved") {
                        totalSaved = Number(event.target.value);
                        event.target.classList.add('selected-amount');
                        updateChart(Number(event.target.value), monthlySavings);

                    } else if ( id === "money-income") {
                        annualIncome = event.target.value;
                        event.target.classList.add('selected-amount');

                    } else if (id === "money-saved-monthly"){
                        monthlySavings = Number(event.target.value);
                        event.target.classList.add('selected-amount');
                        updateChart(totalSaved, Number(event.target.value));
                    }
                }
            }

            // onchange get value
            function getAmount(value, id) {
                if ( id === "money-saved-input") {
                    totalSaved = value;
                    updateChart(value, monthlySavings);
                } else if ( id === "annual-income") {
                    annualIncome = value;
                } else if (id === "monthly-savings"){
                    monthlySavings = value;
                    updateChart(totalSaved, value);
                }
            }
        </script>
    </section>
</main>
