<script>
    const ctx = document.getElementById("myChart").getContext('2d');

    const aggressive = 1.00716; // r
    const moderate = 1.0065; // r
    const conservative = 1.00549; // r
    const endAge = 78.5;
    let minAge = 25;
    let maxAge = 65;
    let startSavings = 0;
    let monthlySavings = 100;
    let totalSaved = 0;

    function calculateDataPointsByYear(minAge, maxAge, startSavings, monthlySavings, aggressiveness) {
        let output = [];
        let accumulated = totalSaved;
        for (let i=0; i < maxAge - minAge; i++) {
            for (let x=0; x < 12; x++) {
                accumulated = (Math.floor(accumulated * aggressiveness)) + monthlySavings;
            }
            output.push(accumulated);
        }
        return output;
    }

    function generateLabels(minAge, maxAge) {
        let output = [];
        for (let x = minAge; x <= maxAge; x++) {
            output.push(x);
        }
        return output;
    }

    let listOfCharts = [{
        destroy: function(){
            return true;
        }
    }];

    function destroyPreviousChart() {
        listOfCharts[0].destroy();
        listOfCharts = listOfCharts.slice(1);
        if (listOfCharts.length === 0) {
            return true;
        }
    }

    Chart.defaults.LineWithLine = Chart.defaults.line;
    Chart.controllers.LineWithLine = Chart.controllers.line.extend({
        draw: function(ease) {
            Chart.controllers.line.prototype.draw.call(this, ease);

            if (this.chart.tooltip._active && this.chart.tooltip._active.length) {
                var activePoint = this.chart.tooltip._active[0],
                    ctx = this.chart.ctx,
                    x = activePoint.tooltipPosition().x,
                    topY = this.chart.scales['y-axis-0'].top,
                    bottomY = this.chart.scales['y-axis-0'].bottom;

                // draw line
                ctx.save();
                ctx.beginPath();
                ctx.moveTo(x, topY);
                ctx.lineTo(x, bottomY);
                ctx.lineWidth = 1;
                ctx.strokeStyle = '#b4b7bb';
                ctx.stroke();
                ctx.restore();

                // TODO return x value here
                // console.log(this.chart.tooltip[0])
            }
        }
    });

    function createChart(chartLabels, conservativeDataPoints, moderateDataPoints, aggressiveDataPoints) {
        var promise = new Promise(function(resolve, reject) {
            if (destroyPreviousChart()) {
                resolve("Stuff worked!");
            } else {
                reject(Error("It broke"));
            }
        });
        promise.then(function(){

            // let ageNow = function () {
            //     // Chart.options.scales.xAxes['ticks'] = currentAge;
            //     console.log(currentAge)
            //     return currentAge;
            // };

            let chart = new Chart(ctx, {

                type: 'LineWithLine',
                data: {
                    labels: chartLabels,
                    datasets: [
                        {
                            label: ["Conservative"],
                            data: conservativeDataPoints,
                            fill: false,
                            backgroundColor: ['#102A5E'],
                            borderColor: ['#102A5E'],
                            borderWidth: 3
                        },
                        {
                            label: ["Moderate"],
                            data: moderateDataPoints,
                            fill: false,
                            backgroundColor: ['#3F5A9E'],
                            borderColor: ['#3F5A9E'],
                            borderWidth: 3
                        },
                        {
                            label: ["Aggressive"],
                            data: aggressiveDataPoints,
                            fill: false,
                            backgroundColor: ['#41ade1'],
                            borderColor: ['#41ade1'],
                            borderWidth: 3
                        }
                    ]
                },
                options: {
                    hover: {
                        animationDuration: 80
                    },
                    elements: {
                        line: {
                            tension: 0.6, // bezier curves 0-1
                        },
                        point: {
                            radius: 0
                        }
                    },
                    tooltips: {
                        backgroundColor: '#fcfcfc',
                        titleFontColor: '#474747',
                        bodyFontColor: '#474747',
                        borderColor: '#474747',
                        borderWidth: 1,
                        bodyFontFamily: 'Avenir Next, Chivo, sans-serif',
                        displayColors: false, //remove color box
                        yPadding: 6,
                        intersect: false,
                        callbacks: {
                            title: function(tooltipItem){
                                return '';
                            },
                            afterBody: function(tooltipItem, data) {
                                 return tooltipItem[0].xLabel + ' years old';
                            },
                            label: function(tooltipItem, data) {
                                return '$' + tooltipItem['yLabel'].toLocaleString('en');
                            }
                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: false,
                                maxTicksLimit: 4,
                                callback: function (value) {
                                    return '$' + value.toLocaleString('en');
                                }
                            },
                            gridLines: {
                                drawOnChartArea: false, // keep values but not lines
                            },
                        }],
                        xAxes: [{
                            // display: false,
                            ticks: {
                                display: false,
                                callback: function(value) {
                                    return value;
                                    // return value % 10 === 0 ? value : ''; // display some ages
                                },
                                gridLines: {
                                    drawOnChartArea: true,
                                }
                            }
                        }]
                    },
                    legend: {
                        display: false, // rectangle labels on top of chart
                    },
                    animation: {
                        easing: 'easeInOutCubic'
                    }
                }
            });
            listOfCharts.push(chart);
        });
    }

    function renderChart(minAge, maxAge, startSavings, monthlySavings) {
        const conservativeData = calculateDataPointsByYear(minAge, maxAge, startSavings, monthlySavings, conservative);
        const moderateData = calculateDataPointsByYear(minAge, maxAge, startSavings, monthlySavings, moderate);
        const aggressiveData = calculateDataPointsByYear(minAge, maxAge, startSavings, monthlySavings, aggressive);

        const yearsWantToSave = maxAge - minAge;
        const monthWantToSpend = (endAge - maxAge) * 12;
        document.getElementById('age').innerText = maxAge;
        document.getElementById('year').innerText = (new Date().getFullYear() - 1) + yearsWantToSave;

        document.getElementById("conservativeTotal").innerText = '$' + conservativeData[conservativeData.length-1].toLocaleString('en');
        document.getElementById("moderateTotal").innerText = '$' + moderateData[moderateData.length-1].toLocaleString('en');
        document.getElementById("aggressiveTotal").innerText = '$' + aggressiveData[aggressiveData.length-1].toLocaleString('en');

        document.getElementById("conservativeAmt").innerText = "$" + Math.floor(conservativeData[conservativeData.length-1] / monthWantToSpend).toLocaleString('en') + " / mo";
        document.getElementById("moderateAmt").innerText = "$" + Math.floor(moderateData[moderateData.length-1] / monthWantToSpend).toLocaleString('en') + " / mo";
        document.getElementById("aggressiveAmt").innerText = "$" + Math.floor(aggressiveData[aggressiveData.length-1] / monthWantToSpend).toLocaleString('en') + " / mo";

        const labels = generateLabels(minAge, maxAge);
        createChart(labels, conservativeData, moderateData, aggressiveData);
    }

    function updateChart() {
        // later -- query the state of the input widgets
        renderChart(minAge, maxAge, startSavings, monthlySavings);
    }

    function onInputControlUpdate(event, id) {
        let nodes = document.getElementById(id).childNodes;
        let liArray = Array.from(nodes).filter((node) => {
            return node.nodeName === 'LI';
        });

        // li.childNodes[0].value = '';

        if (event.target.nodeName === 'INPUT') {
            liArray.forEach((li) => {
                if (li.childNodes[0].value !== event.target.value) {
                    li.childNodes[0].classList.remove('selected-amount');
                }
            });
            if (id === "money-saved-input") {
                totalSaved = Number(event.target.value);
                event.target.classList.add('selected-amount');
            }
            else if (id === "money-saved-monthly-input") {
                monthlySavings = Number(event.target.value);
                event.target.classList.add('selected-amount');
            }
        }


        if (event.target.nodeName === 'BUTTON') {
            liArray.forEach((li) => {
                if (li.childNodes[0].value !== event.target.value) {
                    li.childNodes[0].classList.remove('selected-amount');
                }
            });
            if (id === "money-saved") {
                totalSaved = Number(event.target.value);
                event.target.classList.add('selected-amount');
            }
            else if (id === "money-saved-monthly") {
                monthlySavings = Number(event.target.value);
                event.target.classList.add('selected-amount');
            }
        }
        updateChart();
    }

    $(function() {
        $("#flat-slider")
            .slider({
                range: true,
                min: 1,
                max: 78,
                values: [25, 65],
                slide: function( event, ui ) {
                    $("#amount").val(ui.values[0] + " - " + ui.values[1]);
                    minAge = ui.values[0];
                    maxAge = ui.values[1];
                    // age set to 65 in html but updates when slider is triggered here
                    document.getElementById('age').innerText = ui.values[1];
                    document.getElementById('year').innerText = (new Date().getFullYear() - 1)+ (maxAge - minAge);
                    updateChart();
                }
            });
        $("#flat-slider").slider("float", {
            first: "label",
            last: "label",
            labels: [minAge, maxAge]
        });
    });

    updateChart();

    const startValue = document.getElementsByClassName("startValue");
    startValue[0].classList.add('selected-amount'); // 0 saved
    startValue[1].classList.add('selected-amount'); // 100 will save /mo
</script>