<section id="cost-container" class="container">

  <div class="cost-title">
    <h1 id="cost-title">Clear path to a safe future.</h1>
    <div class="seperator grey"></div>
    <div class="subtitle">
      <h3 id="subtitle">More money for you means more money for your business and retirement! Get your quote here-- no gimmicks.</h3>
      <a class="button btn-style-2" href="/benefits">
        <span>Learn More</span>
      </a>
    </div>
  </div>

  <div class="content">
    <div class="content-column">
      <div class="content-title">
        <h2>I have <span class="highlight">30</span> employees.</h2>
        <a class="button btn-style-3" href="#">
          <span>Calculate >></span>
        </a>
      </div>
      <img id="annual_cost" src="../assets/img/harbor/infographics_feb26-01.png"/>
      <h3>Employer annual cost for <span class="highlight">30</span> employees</h3>
    </div>
    <div class="content-column">
      <h2>Harbor is <span class="highlight">$660</span> less per year than Ubiquity.</h2>
      <h2 id="low">Harbor helps each employee to save <span class="highlight">$64,229.93</span> than Ubiquity.</h2>
      <img id="over_cost" src="../assets/img/harbor/infographics_feb26-02.png"/>
      <h3>Employee cost over <span class="highlight">30</span> years</h3>
    </div>
  </div>


</section>