
<div class="container">
    <div class="feature-title">
        <h1>Clear path to a safe future.</h1>
        <div class="feature-content">
            <h4>More money for you means more money for your business and retirement! Get your quote here -- no gimmicks.</h4>
            <span>
                Learn More
            </span>
        </div>
    </div>
    <div class="">
        <div class="left">
            <div>
                <h3>I have 30 employees. Calculate >></h3>
            </div>
            <div>
                <h5>Image</h5>
                <h3>Employer annual cost for 30 employees</h3>
            </div>
        </div>
        <div class="right">
            <div>
                <h3>Harbor is <span>$600</span> less per year than Ubiquity</h3>
                <h3>Harbor helps each employee to save <span>$64,229.93</span> than Ubiquity</h3>
            </div>
            <div>
                <h5>Image</h5>
                <h3>Employer annual cost for <span>30</span> employees</h3>
            </div>
        </div>
    </div>
</div>