<section id="cost-container" class="container">

  <div class="cost-title">
    <h1>Clear path to a safe future.</h1>
    <div class="subtitle">
      <h2>More money for you means more money for your business and retirement! Get your quote here-- no gimmicks.</h2>
      <a class="button" href="#">
        <span>Learn More</span>
      </a>
    </div>
  </div>

  <div class="content">
    <div class="content-column">
      <div class="content-title">
        <h2>I have <span>30</span> employees.</h2>
        <a class="button" href="#">
          <span>Calculate >></span>
        </a>
      </div>
      <img src="../assets/img/harbor/infographics_feb26-01.png"/>
      <h3>Employer annual cost for <span>30</span> employees</h3>
    </div>
    <div class="content-column">
      <h2>Harbor is <span>$660</span> less per year than Ubiquity.</h2>
      <h2>Harbor helps each employee to save <span>$64,229.93</span> than Ubiquity.</h2>
      <img src="../assets/img/harbor/infographics_feb26-02.png"/>
      <h3>Employee cost over <span>30</span> years</h3>
    </div>
  </div>


</section>