<header class="header">
    <img src="../assets/img/lighthouse.jpg" class="header__img" alt="light house image">
    <h1 class="header__primary"><span>How it works</span></h1>
</header>

<main class="dropdown-container">
    
    <section class="dropdown">
        <div class="col">
            <img src="../assets/img/building.png" alt="business building" class="dropdown__img">
            <h2 class="header__secondary">Employer</h2>
        </div>

        <div class="dropdown__menu">
            <h3 class="dropdown__menu__heading">Add employee</h3>
        </div>

    </section>
    
    <section class="dropdown">
        <div class="col">
            <img src="../assets/img/id.png" alt="identification card" class="dropdown__img">
            <h2 class="header__secondary">Employee</h2>
        </div>

        <div class="dropdown__menu">
            <h3 class="dropdown__menu__heading">Onboarding</h3>
        </div>

    </section>
    
</main>
