<header class="header">
    <img src="../assets/img/lighthouse.jpg" class="header__img" alt="light house image">
    <h1 class="header__primary"><span>How it works</span></h1>
</header>

<!--<main class="u-flex">-->

    <section class="choice-container">
        <div class="col">
            <img src="../assets/img/building.png" alt="business building" class="column__img">
            <h2 class="header__secondary">Employer</h2>
        </div>

        <div class="col">
            <img src="../assets/img/id.png" alt="identification card" class="column__img">
            <h2 class="header__secondary">Employee</h2>
        </div>
    </section>

        <!--<div class="dropdown-menu">-->
            <!--<h3>Add employee</h3>-->

            <!--<ul class="toggle">-->
                <!--<li><img class="dropdown-menu__img" alt="" src="../assets/img/demoGifs/co/add-employee.gif"></li>-->
                <!--<li>In the dashboard, press the blue button on the right that says “ADD EMPLOYEE”</li>-->
                <!--<li>Add info and press “Confirm"</li>-->
            <!--</ul>-->
        <!--</div>-->

    <!--</section>-->

    <!--<section class="column">-->


        <!--<div class="dropdown-menu">-->
            <!--<h3 class="dropdown-menu__heading">Onboarding</h3>-->
            <!--<img class="dropdown-menu__img2" alt="" src="../assets/img/demoGifs/employee/onboarding/allocation.gif">-->
        <!--</div>-->

    <!--</section>-->

<!--</main>-->

<nav class="dropdown-container">

    <section class="employer">
        <div class="menu-item">
            <h4 class="menu-header">Add employee</h4>
            <ul>
                <li><img src="../assets/img/demoGifs/co/add-employee.gif" alt="">
                <li class="menu-text">In the dashboard, press the blue button on the right that says “ADD EMPLOYEE”</li>
                <li class="menu-text">Add info and press “Confirm"</li>
            </ul>
        </div>

        <div class="menu-item">
            <h4 class="menu-header">Check Compliance</h4>
            <ul>
                <li><img src="../assets/img/demoGifs/co/check-compliance.gif" alt="">
                <li class="menu-text">Click the compliance tile or click “Compliance” in the menu bar at the top</li>
                <li class="menu-text">Scroll down to see all of your paperwork</li>
            </ul>
        </div>

        <div class="menu-item">
            <h4 class="menu-header">Support</h4>
            <ul>
                <li><img src="../assets/img/demoGifs/co/support.gif" alt="">
                <li class="menu-text">Click “Support” in the main navigation and select the dropdown to filter FAQ info</li>
            </ul>
        </div>

        <div class="menu-item">
            <h4 class="menu-header">Upload Payroll</h4>
            <ul>
                <li><img src="../assets/img/demoGifs/co/upload-payroll.gif" alt="">
                <li class="menu-text">On the dashboard, click “UPLOAD PAYROLL FILE”</li>
                <li class="menu-text">Upload the corresponding Excel file.</li>
            </ul>
        </div>
    </section>


    <section class="employee">
        <div class="menu-item">
            <h4 class="menu-header">Allocation</h4>
            <ul>
                <li><img src="../assets/img/demoGifs/employee/onboarding/allocation.gif" alt="">
                <li class="menu-text">Scroll to the bottom</li>
                <li class="menu-text">Press the customization button</li>
            </ul>
        </div>

        <div class="menu-item">
            <h4 class="menu-header">Confirm Identity</h4>
            <ul>
                <li><img src="../assets/img/demoGifs/employee/onboarding/confirm-identity.gif" alt="">
                <li class="menu-text">Use the date selector and press “Confirm”</li>
                <li class="menu-text">Use the number pad to enter your Social Security number</li>
            </ul>
        </div>

        <div class="menu-item">
            <h4 class="menu-header">Contribution</h4>
            <ul>
                <li><img src="../assets/img/demoGifs/employee/onboarding/contribution.gif" alt="">
                <li class="menu-text">Read over the contribution information</li>
                <li class="menu-text">Tap on any number to edit it</li>
            </ul>
        </div>

        <div class="menu-item">
            <h4 class="menu-header">Lunch break</h4>
            <ul>
                <li><img src="../assets/img/demoGifs/employee/onboarding/lunch-break.gif" alt="">
                <li class="menu-text">Tap any of the three buttons at the bottom for how much time you have to complete onboarding</li>
            </ul>
        </div>

        <!--post onboarding-->
        <div class="menu-item">
            <h4 class="menu-header">FAQ</h4>
            <ul>
                <li><img src="../assets/img/demoGifs/employee/ask-anything.gif" alt="">
                <li class="menu-text">To connect with a financial assistant, tap the hamburger menu</li>
                <li class="menu-text">Press “Ask us anything.”</li>
            </ul>
        </div>

        <div class="menu-item">
            <h4 class="menu-header">Contribution</h4>
            <ul>
                <li><img src="../assets/img/demoGifs/employee/contribution.gif" alt="">
                <li class="menu-text">Tap “Contribution” in the main navigation at the top</li>
                <li class="menu-text">Scroll and press the button that says, “Change Contribution”</li>
            </ul>
        </div>

        <div class="menu-item">
            <h4 class="menu-header">Demographic Info</h4>
            <ul>
                <li><img src="../assets/img/demoGifs/employee/demographic-info.gif" alt="">
                <li class="menu-text">Tap the hamburger menu</li>
                <li class="menu-text">Tap “My information”</li>
                <li class="menu-text">To edit, press the pencil button in the top right</li>
                <li class="menu-text">When changes are made, tap the save button</li>
            </ul>
        </div>

        <div class="menu-item">
            <h4 class="menu-header">Portfolio Allocation</h4>
            <ul>
                <li><img src="../assets/img/demoGifs/employee/portfolio-allocation.gif" alt="">
                <li class="menu-text">Tap the left part of the nav bar</li>
                <li class="menu-text">Scroll down to see a summary of your allocation</li>
                <li class="menu-text">To edit, press the button in the bottom right</li>
            </ul>
        </div>
    </section>

</nav>