<section class="choice">

  <a href="#" class="employer">
    <img class="img" src="../assets/img/building.png" alt="employer">
    <h1 class="text">I am an employer</h1>
  </a>

  <a href="#" class="employee">
    <img class="img"  src="../assets/img/id.png" alt="employer">
    <h1 class="text">I am an employee</h1>
  </a>

</section>

<h1 class="learn-heading">Learn more about harbor</h1>
<section class="learn">

  <a href="#" class="learn__item">
    <img class="learn__item__img"  src="../assets/img/icons/puzzle.png" alt="engagement">
    <h2 class="learn__item__text">Engagement</h2>
  </a>

  <a href="#" class="learn__item">
    <img class="learn__item__img"  src="../assets/img/icons/files.png" alt="files">
    <h2 class="learn__item__text">Compliance</h2>
  </a>

  <a href="#" class="learn__item">
    <img class="learn__item__img"  src="../assets/img/icons/wallet.png" alt="wallet">
    <h2 class="learn__item__text">Affordable</h2>
  </a>

  <a href="#" class="learn__item">
    <img class="learn__item__img"  src="../assets/img/icons/gear.png" alt="Optimization">
    <h2 class="learn__item__text">Optimization</h2>
  </a>
</section>

