<footer>
    <div class="seperator grey"></div>
    <div class="footer-column">
        <div>
            <span>Address | 1462 East 53rd Street, Second Floor, Chicago, IL 60615</span>
        </div>
        <div>
            <span>linkedIn</span>
            <span>twitter</span>
            <span>instagram</span>
            <span>medium</span>
            <span>facebook</span>
        </div>
        <div>
            <span>&copy; 2018 VestHQ Inc.</span>
            <span>Terms and Conditions</span>
        </div>
    </div>
</footer>