<footer class="footer">
    <section class="footer-group">
        <div class="harbor">
            <h1 class="footer__title">Harbor</h1>
            <ul>
                <li><a href="{{ site.baseurl }}/team">Our Team</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="https://choose401k.com/">Get Started</a></li>
                <li><a href="">Terms</a></li>
                <li><a href="">Security</a></li>
                <li><a href="">Privacy</a></li>

            </ul>
        </div>

        <div class="social">
            <h1 class="footer__title">Social Media</h1>
            <ul>
                <li><a href="https://www.linkedin.com/company/vesthq/">LinkedIn</a></li>
                <li><a href="">Twitter</a></li>
                <li><a href="">Medium</a></li>
                <li><a href="">Facebook</a></li>
            </ul>
        </div>

        <div class="contact">
            <h1 class="footer__title">Contact</h1>
            <ul>
                <li>Harbor, Vest, VestHQ, <br> 2nd Floor, 1462 E 53rd Street, <br>
                    2nd Floor CHICAGO, IL 60615</li>
            </ul>
        </div>

        <p class="legal">
            VestHQ, LLC is an investment adviser registered with the Securities and Exchange Commission. Consider the investment objectives, risks, and charges and expenses of funds recommended by VestHQ carefully before investing.  VestHQ does not provide tax, legal or accounting advice.
        </p>
    </section>


    <p class="copyright">
        Copyright &copy; 2018 Harbor All Rights Reserved.
    </p>

</footer>



