<section id="home-container">
    <img src="./assets/img/harbor/illustration1_feb26-01.png"/>
    
    <div class="home-content">
        <h1>A 401(k) Employees Love</h1>
        
        <div class="seperator grey"></div>

        <h2 class="subtitle">Harbor's all-in-one 401(k) plan increases participation, retention, and engagement.</h2>
        <p class="description">We help employees navigate debt, time constraints, and complexity to improve retirement outcomes. For employers,
            we reduce liability, fees, and errors so you can focus on work that matters.</p>
        
        <div class="buttons">
            <a class="button btn-style-1" href="/costs"><span>Learn More</span></a>
            <a class="button btn-style-2" href="#"><span>Get Started</span></a>
        </div>
    </div>

</section>
