<section id="home-container">
    <img id="home-image" src="./assets/img/harbor/illustration1_feb26-01.png"/>
    <div class="home-content">
        <h1>A 401(k) Employees Love</h1>

        <div class="seperator grey"></div>

        <h2 class="subtitle">Harbor's all-in-one 401(k) plan increases <br> participation, retention, and engagement.</h2>
        <p class="description">We help employees navigate debt, time constraints, and complexity to improve retirement outcomes. For employers, we reduce liability, fees, and errors so you can focus on work that matters.</p>

        <div class="buttons">
            <a class="button btn-style-1" href="/affordable"><span>Learn More</span></a>
            <a class="button btn-style-2 typeform-share button" href="https://ceo4.typeform.com/to/Olkduf" data-mode="popup" style="" data-hide-headers=true data-hide-footer=true target="_blank"<span>Get Started</span></a>
        </div>
    </div>
</section>

 <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
