<main class="main">

    <div class="heading">
        <h1 class="heading heading__primary">A 401(k) Employees Love</h1>
        <h2 class="heading heading__secondary">Harbor's all-in-one 401(k) plan increases participation, retention, and engagement.</h2>

        <div class="buttons">
            <a class="btn btn--1" href="../affordable.html">Learn More</a>
            <a class="btn btn--2 typeform-share" href="https://ceo4.typeform.com/to/Olkduf" data-mode="popup" data-hide-headers=true data-hide-footer=true target="_blank">Get Started</a>
        </div>
    </div>

    <img class="cloudImg" src="../assets/img/harbor/index_main.png"/>
</main>


<section class="product">
    <h1 class="title-center">Our Product</h1>

    <div class="product-container">
        <div class="img-box"></div>
        <div class="text-col">
            <h1 class="title">For employers</h1>
            <p class="title__description">We help employees navigate debt, time constraints, and complexity to improve retirement outcomes</p>
        </div>

        <div class="img-box"></div>
        <div class="text-col">
            <h1 class="title">For employees</h1>
            <p class="title__description">For employers, we reduce liability, fees, and errors so you can focus on work that matters.</p>
        </div>
    </div>

</section>



 <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
