<div class="index-container">
    <nav class="navigation">
        <a href="https://harborhq.com/about/" class="navigation__link">PASS THIS</a>
        <span class="link-text">AND</span>

        <a href="https://choose401k.com/" class="index-login" >
            <button class="btn u-word-space">
                Log in
            </button>
        </a>
        <span class="link-text">NOW</span>
    </nav>
    <br>

    <main class="index-main">
        <img src="../assets/img/coin_animation_600.gif" alt="coin animation" class="coin">

        <div class="typewriter u-margin-typewriter">
            <h1>
                The days of archaic
            </h1>
            <h1>
                401(k) plans are over.
            </h1>
        </div>

        <a href="https://harborhq.com/about/" >
            <button class="btn btn--large">
                Enter the new age
            </button>
        </a>
    </main>

</div>