<section class="list-container">

    <aside class="list-header">
        <h1 class="list-header__primary"><span class="list-header__primary--number">1</span> Engagement</h1>
        <h2 class="list-header__secondary">Our platform will help retain, engage, and increase fiduciary health of your company.</h2>
    </aside>

    <aside class="list-box">

        <div class="list-box__item">
            <h1 class="list-box__item__primary">100%</h1>
            <h2 class="list-box__item__secondary">client satisfaction</h2>
            <hr>
        </div>

        <div class="list-box__item">
            <h1 class="list-box__item__primary">86%</h1>
            <h2 class="list-box__item__secondary">average participation</h2>
            <hr>
        </div>

        <div class="list-box__item">
            <h1 class="list-box__item__primary">$10,000</h1>
            <h2 class="list-box__item__secondary">average contribution</h2>
        </div>
    </aside>

</section>