<header class="nav">
    <a href="{{ site.baseurl }}/home/">
        <img class="logo" src="../assets/img/logos/harbor_logo.png" alt="harbor boat logo"/>
    </a>
    <a class="login" href="https://choose401k.com">Log in</a>

    <a class="typeform-share button btn btn--1" href="https://sierramoore.typeform.com/to/ynRTLp" data-mode="drawer_left"  data-submit-close-delay="5" target="_blank">Contact Us</a>
    <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>


</header>