<section class="employees-container">
    <div class="avatar">
        <img src="../assets/img/avatars/sierra.png" alt="Sierra Moore" class="avatar__img avatar__img--1">
        <div class="avatar__content">
            <a href="https://sierramoore.com/" target="_blank">Sierra</a>
            <p>Developer</p>
            <p class="online">Online: <i id="UAKEWKP9A" class="fas fa-dot-circle"></i></p>
        </div>
    </div>

    <div class="avatar">
        <img src="../assets/img/avatars/sierra_base.png" alt="Sierra Moore" class="avatar__img avatar__img--1">
        <div class="avatar__content">
            <a href="https://sierramoore.com/" target="_blank">Sierra</a>
            <p>Developer</p>
            <p class="online">Online: <i id="UAKEWKP9A" class="fas fa-dot-circle"></i></p>
        </div>
    </div>
</section>

<section class="employees-container">
    <div class="avatar">
        <img src="../assets/img/avatars/sierra.png" alt="Sierra Moore" class="avatar__img avatar__img--2">
        <div class="avatar__content">
            <a href="https://sierramoore.com/" target="_blank">Sierra <i id="UAKEWKP9A" class="fas fa-dot-circle status--1"></i></a>
            <p>Developer</p>
        </div>
    </div>

    <div class="avatar">
        <img src="../assets/img/avatars/sierra_base.png" alt="Sierra Moore" class="avatar__img avatar__img--2">
        <div class="avatar__content">
            <a href="https://sierramoore.com/" target="_blank">Sierra <i id="UAKEWKP9A" class="fas fa-dot-circle status--1"></i></a>
            <p>Developer</p>
        </div>
    </div>
</section>

<section class="employees-container">
    <div class="employees">
        <img src="../assets/img/avatars/sierra.png" alt="Sierra Moore" class="avatar__img avatar__img--3">
        <div class="avatar__content avatar__content--1">
            <a href="https://sierramoore.com/" target="_blank">Sierra</a>
            <p>Developer</p>
            <p class="online">Online: <i id="UAKEWKP9A" class="fas fa-dot-circle"></i></p>
        </div>
    </div>

    <div class="employees">
        <img src="../assets/img/avatars/sierra_base.png" alt="Sierra Moore" class="avatar__img avatar__img--3">
        <div class="avatar__content avatar__content--2">
            <a href="https://sierramoore.com/" target="_blank">Sierra</a>
            <p>Developer</p>
            <p class="online">Online: <i id="UAKEWKP9A" class="fas fa-dot-circle"></i></p>
        </div>
    </div>
</section>