#benefit-container
  display: flex
  flex-direction: column

  .benefit-title
    padding: 10px 

    h1
      padding: 10px
    
    h2
      padding: 10px 0 10px 0
    
    .subtitle
      display: flex
      flex-direction: row
      align-items: center
      padding: 10px

      .button
        margin-left: 50px

  .benefit-lists
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    flex-wrap: wrap
    padding: 10px

  .benefit-item
    padding: 5px
    img
      width: 250px

    p
      font-weight: 600
      text-align: center
      padding: 10px
  
  .benefit-logos
    padding: 10px 0 10px 0

    .benefit-title
      display: flex
      align-items: baseline

      h2
        padding: 10px

  .logo-lists
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    padding: 10px

  .logo-item
    padding: 10px
    img
      width: 150px