#benefit-container
  display: flex
  flex-direction: column

  .benefit-title
    
    .subtitle
      display: flex
      flex-direction: row
      align-items: center

      .button
        margin-left: 50px

  .benefit-lists
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    margin-top: 20px
    margin-left: -50px
    flex-wrap: wrap

  .benefit-item
    margin-right: 10px
    img
      width: 250px

    p
      font-weight: 600
      text-align: left
      width: 180px
      margin-left: 55px
  
  .benefit-logos
    margin-top: 50px

    .benefit-title
      display: flex
      align-items: baseline

      h2
        margin-left: 50px

  .logo-lists
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    margin-top: 20px

  .logo-item
    margin-right: 35px
    img
      width: 150px