#cost-container
  display: flex
  flex-direction: column

  .cost-title
    
    .subtitle
      display: flex
      flex-direction: row
      align-items: center

      .button
        margin-left: 50px
        text-align: center
        align-items: center
        padding: 10px 30px
        box-shadow: inset 0 0 0 2px
        color: $test-color

        &:hover, &:focus 
          background: $test-color
          color: #fff

  .content
    display: flex
    flex-direction: row
    margin-top: 50px
    margin-bottom: 50px

    .content-title
      display: flex
      align-items: center
      justify-content: center
      
      .button
        margin-left: 50px
        text-align: center
        align-items: center
        padding: 10px 30px
        box-shadow: inset 0 0 0 2px
        color: $test-color

        &:hover, &:focus 
          background: $test-color
          color: #fff

    .content-column
      text-align: center
      img
        width: 480px
      