.footer {
  background-color: $dark-blue;
  margin: 3rem auto;
  padding: 4rem 1rem;
  height: auto;
  width: 100%;
  color: $light1-blue;
  font-size: 1.2rem;
  position: relative;

  @include respond(l-phone) {
    padding: 2rem;
  }

  &__title {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: 500;

    @include respond(tab-port) {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }
  }

  .copyright {
    text-align: center;
    margin-top: 2rem;
  }


  .footer-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;


    & > * {
      margin: 1rem;
    }

    ul {
      list-style-type: none;
    }

    .harbor {

    }

    .contact {
      margin-top: -1.6rem;
    }

    .social {
      margin-top: -.6rem;
    }

    .legal {
      width: 30rem;

    }
  }

}


