.footer {
  background-color: $dark-blue;
  margin: 3rem auto 0 auto;
  padding: 4rem 1rem;
  height: auto;
  width: 100%;
  color: $light1-blue;
  font-size: 1.2rem;
  position: relative;

  @include respond(l-phone) {
    padding: 2rem;
  }

  &__title {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-weight: 500;
    align-self: flex-start;

    @include respond(tab-port) {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }
  }

  .copyright {
    text-align: center;
    margin-top: 2rem;
  }

  .footer-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    ul {
      list-style-type: none;
    }
    li { margin-bottom: 2px;}
    a {
      color: $light1-blue;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .contact {
      //margin-top: -1.6rem;
      @media screen and (max-width: 330px) {
        margin-top: 0;
      }
    }

    .legal {
      width: 30rem;
      margin-top: .5rem;
      @include respond(m-phone) {
        font-size: 8px;
      }
      @include respond(sm-phone) {
        font-size: 6px;
      }
    }
  }

}


