.footer {
  flex-shrink: 0;

  background-color: $dark-blue;
  margin: 3rem auto auto auto;
  padding: 4rem 1rem;
  height: auto;
  width: 100%;
  color: $light1-blue;
  font-size: 1.2rem;
  position: relative;

  @include respond(l-phone) {
    padding: 2rem;
  }

  &__title {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
    font-weight: 500;
    align-self: flex-start;

    @include respond(l-phone) {
      margin-bottom: 1rem;
    }
    @include respond(sm-phone) {
      font-size: 1.2rem;
      letter-spacing: .5px;
    }
  }

  .footer-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    //@include respond(sm-phone) {
    //  justify-content: space-between;
    //}

    & > * {
      margin-bottom: 2rem;
    }
    ul {
      list-style-type: none;
    }
    li {
      margin-bottom: 2px;
    }
    a {
      color: $light1-blue;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }

    .legal {
      width: 30rem;
      //margin-top: .5rem;

      @include respond(l-phone) {
        //width: 85%;
        width: 70%;
      }
      @include respond(m-phone) {
        font-size: 8px;
      }
      @include respond(sm-phone) {
        font-size: 6px;
        //width: 90%;
      }
    }
  }
  .copyright {
    text-align: center;
  }
}


