header
  background: #fff

  .container
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between

    img
      width: 150px 
    
    .button
      text-align: center
      align-items: center

    .btn-login
      margin-right: 10px

      
