header
    background-color: #ffffff
    display: flex
    margin-left: 1%
    margin-right: 1%
    
header .logo
    flex: 4 0 0
    img
        width: 200px
        cursor: pointer

.button-groups
    flex: 1 0 0
    display: flex
    justify-content: flex-end
    align-items: center

    button
        margin-right: 10px
        
