#home-container
  display: flex
  flex-direction: column

  img
    width: 850px
    align-self: center
    margin-top: -80px
    margin-bottom: -30px

  .home-content
    margin: 0 30% 0 30% 

  .seperator
    width: 80%
    height: 2px
    margin-top: 10px

  .grey
    background-color: $light1-blue
  
  h1
    margin-top: -26px
  
  h2, p
    margin-top: 10px
  
  .buttons
    margin-top: 30px
    margin-bottom: 30px
  
  .btn-style-1
    margin-right: 10px
