#home-container
  display: flex
  flex-direction: column

  img
    width: 800px
    padding: 0 0 20px 0
    align-self: center

  .home-content
    padding: 10px 300px 50px 300px

  .seperator
    width: 650px
    height: 1px
    margin-left: 10px
    
  .grey
    background-color: $light2-blue
  
  h1
    padding: 10px
  
  h2, p
    padding: 10px
  
  .buttons
    padding: 50px 0 30px 10px
  
  .btn-style-1
    margin-right: 30px
