#home-container
  display: flex
  flex-direction: column

  img
    width: 800px
    align-self: center

  .home-content
    margin: 0 30% 0 30% 

  p
    margin-top: 10px
    
  .seperator
    width: 80%
    height: 1px

  .grey
    background-color: #abb0ba
  
  .buttons
    margin-top: 30px
    margin-bottom: 50px

  .button
    margin-top: 20px
    text-align: center
    align-items: center
    padding: 10px 30px
    box-shadow: inset 0 0 0 2px
    color: $test-color

    &:hover, &:focus 
      background: $test-color
      color: #fff