.nav {
  display: flex;
  align-items: center;
  margin: 5rem;

  .logo {
    width: 13rem;
    //flex: 1;
  }

  .login {
    font-family: "Avenir Next", $avenir;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.8rem;
    color: $dark-blue;
    margin-right: 3rem;
    margin-left: auto;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 1.4rem;

    &:hover {
      border-bottom: 2px solid $dark-sky-blue;
    }
  }

  @include respond(sm-phone) {
    .logo {
      width: 10rem;
    }
    .login {
      font-size: 1.6rem;
    }
  }
}

      
